/* style.css */
body {
    background-color: lightpink;
    font-family: fantasy;
  }
  #couple {
    border-radius: 50px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #liam_drawing {
    border-radius: 100px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  #alessia_drawing {
    border-radius: 100px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  h1 {
    color: darkorchid;
    text-align: center;
  }
  h2 {
    color: darkorchid;
    text-align: center;
  }
  h3 {
    color: darkorchid;
    text-align: center;
  }
  p {
    color: darkorchid;
    text-align: center;
    padding: 5px;
  }
  #liam {
    border-radius: 50px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #alessia {
    border-radius: 50px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }